body {
	background-color: #aaa;
}

#canvas-placeholder, #three-canvas-placeholder, #error-placeholder {	
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input[type="number"] {
	width: 6em;
	text-align: right;	
	color:#000;
}

input[type="color"] {
	width: 6em;	
}

#ime-tools form{
	display:none;
}

.settings {
	background: rgba(255, 255, 255, 0.3);			
}

.settings label{
	font-size: 12px;
	font-weight: 100;
	color:#fff;
	width: 5em;			
}

.settings label.value{
	font-size: 14px;
	font-weight: 400;				
}

.settings ul{
  margin: 0;
  padding: 0;
  list-style: none;  
}

#three-canvas-placeholder {				
	display:block;
	margin-bottom:20px;
}

#canvas-placeholder canvas, #three-canvas-placeholder canvas {
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#error-placeholder {
	position:fixed;
	top:0;
	padding:20px;	
	margin-left: auto;
  margin-right: auto;
	text-align:center;
	z-index:100;
	cursor: pointer; 
	font-size: 16px;
	font-weight: 800;
	color: white;
	opacity: 0.0;
	background-color:rgba(255, 0, 0, .5);
	text-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}

#help-placeholder {
	white-space: pre; 
}

/** 
 * Custom scrollbar
 *
 * source: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
 */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}





