body {
	background-color: #aaa;
}

.container-fluid {
	margin-top: 50px;
}

.panel {
	background-color: #bbb;
}

#canvas-placeholder {	
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}


